html
  head
    title BigScore
    script
      var config = {
        gid: '#{gid}',
        pass: '#{pass}'
      };
    link(rel='stylesheet', href='/css/styles.css')
  head

  body
    #players

    button.add-player Add User

    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/scripts.js')